/* 
    Created on : Feb 26, 2014, 12:34:27 PM
    Author     : Bokac
*/
.displayed-img {
  background: rgba(154, 215, 23, 0.58);
}

.hidden-img {
  background: rgba(180, 108, 108, 0.37);
}

.space-img {
  margin: 10px;
}

.horizontal-space {
margin: 0 3%;
}

.selected-image {
  border: 1px solid blue;
}

.cover-photo {
-webkit-box-shadow: 0 0 10px 5px rgba(255,23,0,0.5);
box-shadow: 0 0 10px 5px rgba(255,23,0,0.5);
}

.vertical-space div {
  margin: 10px 0;
}

.cover-size {
  max-height: 200px;
}