/* 
    Document   : main
    Created on : May 22, 2013, 11:41:00 PM
    Author     : bokac
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background: url('../img/ticks.png') repeat 0 0;
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

.title {
    font-size: 2.3em;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.footer p {
    text-align: center;
    font-size: 0.8em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.footer p a {
    color: #333333;
    text-decoration: none;
}

.footer a:hover {
    text-shadow: 0 0 2px rgba(125, 255, 255, 1);
}


/* Main marketing message and sign up button */
.jumbotron {
  margin: 10px 0;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
.jumbotron h1 {
  font-size: 3.7em;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

/* sign in */

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.alert-success-shadow {
    -webkit-box-shadow:  1px 1px 10px 1px #d6e9c6;
    box-shadow:  1px 1px 10px 1px #d6e9c6;  
}

.alert-warning-shadow {
    -webkit-box-shadow:  1px 1px 10px 1px #fbeed5;
    box-shadow:  1px 1px 10px 1px #fbeed5;  
}

.margint20 {
    margin-top: 20px;
}
   
.portfolios.form {
    width: 40%;
}

.loggedin .thumbnail {
    position: relative;
}

.remove-port {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

td.actions a {
    text-decoration: none;
    margin-right: 20px;
}

.label {
    font-size: 14px;
    background: 0 none;
    color: #FF6969;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

hr {
    border-top: 1px solid #B9B9B9;
}
